<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="ToDoItemContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ToDoDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SMTPFrom" value="notification@todo.com" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPServer" value="dc1.my.lab" />
    <add key="SMTPUser" value="" />
    <add key="SMTPPassword" value="" />
  </appSettings>
</configuration>